src/logic-app/email-processing-workflow/workflow.json
{
  "definition": {
    "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
    "contentVersion": "1.0.0.0",
    "parameters": {
      "$connections": {
        "defaultValue": {},
        "type": "Object"
      }
    },
    "triggers": {
      "When_a_new_email_arrives": {
        "type": "ApiConnectionNotification",
        "inputs": {
          "host": {
            "connection": {
              "name": "@parameters('$connections')['office365']['connectionId']"
            }
          },
          "fetch": {
            "pathTemplate": {
              "template": "/v3/Mail/OnNewEmail"
            },
            "method": "get",
            "queries": {
              "importance": "Any",
              "fetchOnlyWithAttachment": false,
              "includeAttachments": true,
              "subjectFilter": "DEMO",
              "folderPath": "Inbox"
            }
          },
          "subscribe": {
            "body": {
              "NotificationUrl": "@listCallbackUrl()"
            },
            "pathTemplate": {
              "template": "/GraphMailSubscriptionPoke/$subscriptions"
            },
            "method": "post",
            "queries": {
              "importance": "Any",
              "fetchOnlyWithAttachment": false,
              "folderPath": "Inbox"
            }
          }
        },
        "splitOn": "@triggerBody()?['value']"
      }
    },
    "actions": {
      "Initialize_eventId": {
        "type": "InitializeVariable",
        "inputs": {
          "variables": [
            {
              "name": "eventId",
              "type": "string",
              "value": "@guid()"
            }
          ]
        },
        "runAfter": {}
      },
      "Initialize_timestamp": {
        "type": "InitializeVariable",
        "inputs": {
          "variables": [
            {
              "name": "timestamp",
              "type": "string",
              "value": "@utcnow()"
            }
          ]
        },
        "runAfter": {
          "Initialize_eventId": [
            "Succeeded"
          ]
        }
      },
      "Response_placeholder": {
        "type": "Response",
        "kind": "Http",
        "inputs": {
          "statusCode": 200,
          "body": {
            "message": "Email received and processing initiated",
            "eventId": "@variables('eventId')",
            "timestamp": "@variables('timestamp')",
            "subject": "@triggerBody()?['subject']",
            "from": "@triggerBody()?['from']",
            "hasAttachments": "@triggerBody()?['hasAttachments']"
          }
        },
        "runAfter": {
          "Initialize_timestamp": [
            "Succeeded"
          ]
        }
      }
    },
    "outputs": {}
  },
  "kind": "Stateful"
}
